#Container{
    position: absolute;
    top:5%
}
#header{
color: red;
position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}
#k1{
    background-image:url(https://tse2.mm.bing.net/th?id=OIP.M3888bf9f667367fd15b7854bb95c5202H0&pid=15.1&P=0&w=233&h=180)
}